* {
  box-sizing: border-box;
}
html {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
table, th, td {
  border: 1px solid #e0e3e6;
  padding: 6px 13px;
}
tr {
  border-top: 1px solid #c6cbd2;
}
a {
  color: #3366cc;
  text-decoration: none;
}
a:visited {
  color: #6b4bA1;
}
article {
  padding: 12px 12px 15px;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.3em;
}
h3 {
  font-size: 1.1em;
}
nav {
  padding: 12px;
}

nav.toc-heading { display: none; }
.container { display: flex; flex-flow: row nowrap; }

@media only screen and (min-width: 1024px) {
  nav.toc-heading { position: sticky; position: -webkit-sticky; top: 0px; display: block; right: 0px; width: 300px; height: fit-content;}
  nav.toc-heading ul { list-style: none;}
  nav.toc-heading ul ul { padding: 12px 0 0 20px;}
  nav.toc-heading li { line-height: 16px; padding-bottom: 8px;}
  nav.toc-heading li + li {margin-top: .25em;}
  nav.toc-heading > ul { border-left: 1px solid #e0e0e0; padding: 10px 0 2px 15px;}
  nav.toc-heading a { text-decoration: none; color: #717171;}
  nav.toc-heading a:hover { color: #000; }
  .content { width: calc(100% - 300px);}
}
